<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJS</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, totam eius. Illo exercitationem laborum dolore!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas ratione quia voluptate neque tempore nobis explicabo consequuntur! Minima, nisi odit.</p>
    <a href="https://github.com/BlazeDex" class="btn btn-primary">My GitHub</a>
</div>
