  <div class="container bg-light p-4 text-center">
    <h1>Iniciar sesión como:</h1>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 mb-4">
        <a href="/users/signin" class="btn btn-primary btn-block">Alumno</a>
      </div>     
    </div> 
    <div class="row justify-content-center">
      <div class="col-md-6">
        <a href="/professors/signin" class="btn btn-primary btn-block">Trabajador</a>
      </div>
    </div>  
  </div>